/* Root para mantener una paleta de colores clara */
:root {
    --background-color: #B3B6B7;
    --links-color: #2B2118;
    --headers-color: #6F1A07;
    --text-color: #AF9164;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header {
    padding: 0.5vh;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    color: var(--headers-color);
}

a {
    padding: 0.5vh;
    color: var(--links-color);
}

h3 {
    color: var(--text-color);
    font-size: 24px;
    text-align: center;
    font-style: normal;
}

h5 {
    color: var(--text-color);
    font-size: 18px;
    text-align: center;
    font-style: normal;
}

/* Como la mayoria de la pagina son imagenes, en esto use la mayoria del tiempo */
.pictures {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
    gap: 0.5vh;
    flex-wrap: wrap;
    overflow: hidden;
}

.pictures>img {
    display: inline-block;
    justify-content: center;
    height: 100%;
    width: 30vw;
    transition: .4s ease;
    border-radius: 10px;
}

.pictures>img:hover {
    transform: scale(1.8);
}

.pictures.portraits>img {
    padding: 10px;
    width: auto;
    height: 60vh;
    border-radius: 20px;
}

.pictures.myportrait>img {
    padding: 100px;
    width: auto;
    height: 30vh;
    position: relative;
    border-radius: 300px;
}

hr {
    border: 0;
}

footer {
    text-align: center;
    font-size: 14px;
    color: var(--text-color);
    padding: 1vh;
}